.mainBooking {
    padding: 120px 20%;
    background-image: url("../../Assets/Image/Slide-2.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: grid;
    place-items: center;
    height: auto;
}

.mainBooking::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #000;
    opacity: 0.3;
}

.insideMainBooking {
    z-index: 2;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}

.insideMainBooking .insideMainBookingChild1 {
    margin-bottom: 20px;
    width: 48%;
}

.phoneClick {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 27px;
    color: #fff;
}

.formBooking {
    width: 48%;
    height: auto;
    background: #101010;
    padding: 60px 45px;
}

.formBooking .formHaveH4 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0;
}

.formBooking input,
.formBooking select,
.formBooking textarea {
    resize: none;
    display: block;
    width: 100%;
    font-size: 15px;
    color: #fff;
    padding: 15px;
    background: #101010;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.formBooking textarea {
    height: 150px;
}

.formBooking select {
    width: 105%;
    padding: 17px;
}

.formBooking select option {
    color: #fff;
}

.formBooking input:focus,
.formBooking select:focus,
.formBooking textarea:focus {
    outline: none;
}

input[type=date]:invalid::-webkit-datetime-edit,
input[type=time]:invalid::-webkit-datetime-edit {
    color: gray;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0.6;
    filter: invert(0.8);
}

.formBooking button {
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 30px;
    overflow: hidden;
    color: #fff;
    background: #904d30;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    transition: all .4s;
    width: 100%;
    border: none;
}

.formBooking button:hover {
    background: #fff;
    color: black;
}

.fatherAddType2 {
    padding: 10px;
    width: 500px;
}

.yesNoButton {
    transition: all .4s;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

.yesForm {
    background: #904d30;
}

.noForm {
    background: #999;
}

.yesNoButton button:hover {
    opacity: 0.7;
}

.yesNoButton:active {
    scale: 0.9;
}

.loadSamplesFather {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loadSamplesFather .loadSamplesChild {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.loadSamplesFather .loadSamplesChild span {
    font-size: 40px;
    position: absolute;
    left: 40%;
    top: 30%;
    color: #09c167;
    border: 2px solid #09c167;
    border-radius: 50%;
    padding: 5px 10px;
}

.loadSamplesFather .loadSamplesChild img {
    width: 100%;
    height: 200px;
    transition: all .4s;
}

.loadSamplesFather .loadSamplesChild:hover img {
    filter: brightness(0.7);
}

.loadSamplesFather .loadSamplesChild p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.openMoreSamples {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #999;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .4s;
}

.openMoreSamples:hover {
    color: #fff;
}

.openMoreSamples span {
    transition: all .4s;
    display: inline-block;
}

.textUnderMoreSamples {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
}

.samplesImage {
    width: 85px;
    height: 75px;
    transition: all .4s;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.samplesImage .deleteSamples {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    border-radius: 50%;
    background: #101010;
    padding: 0 9px 3px 9px;
    z-index: 10;
    transition: all .4s;
}

.samplesImage .deleteSamples:hover {
    color: tomato;
}

.samplesImage:hover {
    filter: brightness(0.7);
}

.samplesImage img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

@media (max-width:991px) {
    .mainBooking {
        padding: 120px 10px;
    }

    .insideMainBooking {
        flex-direction: column;
    }

    .insideMainBooking .insideMainBookingChild1 {
        width: 100%;
    }

    .formBooking {
        width: 100%;
    }

    .fatherAddType2 {
        width: 80vw;
    }
}