.mainUserPanelMain {
    display: flex;
    background: #101010;
    width: 100%;
    padding: 120px 20%;
    min-height: inherit;
}

input:focus {
    outline: none;
}

.mainAdminMainBar {
    width: 100%;
    height: 100%;
}

.mainAdminSideBar {
    width: 100%;
    padding: 0 15px;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
    transition: all .4s;
}

.contentMainBar {
    height: 100%;
    padding: 26px 24px;
}

.mainAdminSideBar .logoA {
    padding: 16px 24px;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mainAdminSideBar .logoA .pictureCollect {
    border-radius: 50%;
    position: relative;
}

.mainAdminSideBar .logoA .pictureCollect:hover svg,
.mainAdminSideBar .logoA .pictureCollect:hover img {
    filter: brightness(0.7);
}

.mainAdminSideBar .logoA .pictureCollect input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.mainAdminSideBar .logoA .pictureCollect img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.mainAdminSideBar .logoA .pictureCollect svg {
    transition: all .4s;
    padding: 10px;
    width: 50px;
    height: 50px;
    fill: #fff;
}

.mainAdminSideBar .logoA p {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #fff;
}

.navBarA {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navBarA .captionA {
    display: block;
    padding: 14px 20px;
    text-transform: uppercase;
    position: relative;
    line-height: 1.66;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: "Oswald", sans-serif;
}

.optionsA {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    justify-content: space-between;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .4s;
    margin-bottom: 10px;
}

.optionsA:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navBarA .active,
.navBarA .active:hover {
    transition: all .4s;
    background: rgba(144, 77, 48, 0.7);
}

.optionsA .optionsLeftA {
    display: flex;
    align-items: center;
    gap: 15px;
}

.optionsA p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-wrap: nowrap;
    color: #fff;
}

.optionsA .optionsNotiA {
    border-radius: 50%;
    background: tomato;
    padding: 1px 6px;
    font-size: 13px;
}

.optionsA .optionsLeftA svg {
    width: 22px;
    height: 22px;
    fill: #fff;
}

.mainUserHeaderTabs {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 26px;
}

.mainUserHeaderTabs span {
    color: #fff;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
}

.coverChangePhoneUnder {
    margin-top: 25px;
}

.changePhoneUnder {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
}

.changePhoneUnder input {
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    color: #fff;
    font-weight: 400;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    height: 100%;
    width: 50%;
}

button.buttonSelfish {
    cursor: pointer;
    transition: all .4s;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0 10px;
    height: 100%;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

button.buttonSelfish:hover {
    opacity: 0.7;
}

button.buttonSelfish:active {
    scale: 0.9;
}

button.buttonA {
    background: #904d30;
}

button.buttonB {
    background: gray;
}

.warningText {
    color: tomato;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 5px;
}

.coverChangePasswordUnder {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.inputPassword {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 45px;
    background: #101010;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.inputPassword input {
    width: 90%;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    border: none;
    background: none;
    font-weight: 400;
    color: #fff;
}

.inputPassword button {
    width: 10%;
    border: none;
    background: none;
    height: 100%;
    cursor: pointer;
}

.inputPassword svg {
    width: 18px;
    height: 100%;
    fill: #fff;
    transition: all .4s;
}

.inputPassword button:hover svg {
    opacity: 0.7;
}

.inputPassword button:active svg {
    scale: 0.8;
}

.chatRoom {
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatRoom .chatPlace {
    padding: 0 10px 0 0;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.chatRoom .chatPlace::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.chatRoom .chatPlace::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.chatRoom .inputChatPlace {
    width: 100%;
    height: 10%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chatRoom .inputChatPlace .fatherInput {
    height: 100%;
    width: 88%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat {
    width: 60px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat img {
    border-radius: 6px;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat button.closeImageChat {
    position: absolute;
    top: -10px;
    right: -10px;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    background: #999;
    border: none;
    border-radius: 50%;
    padding: 4px 7px 6px 8px;
    cursor: pointer;
    transition: all .4s;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat button.closeImageChat:hover {
    background: #904d30;
    color: #fff;
}

.chatRoom .inputChatPlace input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    word-break: break-all;
}

.rotateLoading {
    margin-top: 15px;
    color: #fff;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate360deg 2s linear infinite;
}

@keyframes rotate360deg {
    to {
        rotate: 360deg;
    }
}

.coverButtonRightChat {
    width: 15%;
    height: 100%;
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatRoom .inputChatPlace .emojiButton .emojiPickerShow {
    position: absolute;
    bottom: 125%;
    right: 100%;
}

.chatRoom .inputChatPlace .coverButtonRightChat button {
    position: relative;
    font-size: 20px;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all .4s;
    padding: 10px;
}

.chatRoom .inputChatPlace .coverButtonRightChat button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.chatRoom .inputChatPlace .coverButtonRightChat button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.chatPlace .abbortTime {
    margin: 0;
    color: #999;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    font-size: 15px;
}

.chatPlace span,
.noBookingText {
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    position: relative;
}

.noBookingText {
    position: static;
}

.chatPlace .leftSideChat {
    display: flex;
    justify-content: flex-start;
}

.chatPlace .leftSideChat span {
    background: rgba(255, 255, 255, 0.1);
}

.chatPlace .rightSideChat {
    display: flex;
    justify-content: flex-end;
}

.chatPlace .rightSideChat img,
.chatPlace .leftSideChat img {
    width: 250px;
    height: 250px;
    border-radius: 6px;
}

.chatPlace .rightSideChat span p,
.chatPlace .leftSideChat span p {
    margin: 0;
    position: absolute;
    font-family: "Oswald", sans-serif;
    color: #999;
    font-weight: 400;
    letter-spacing: 1px;
    top: 20%;
    font-size: 15px;
    right: 110%;
    opacity: 0;
    transition: all .4s;
}

.chatPlace .leftSideChat span p {
    left: 110%;
}

.chatPlace .rightSideChat span:hover p,
.chatPlace .leftSideChat span:hover p {
    opacity: 1;
}

.chatPlace .rightSideChat span {
    background: rgba(144, 77, 48, 0.5);
}

.formBooking {
    width: 100%;
    height: auto;
    background: #101010;
    padding: 15px;
    margin-top: 10px;
}

.formBooking .formHaveH4 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0;
}

.formBooking input,
.formBooking select,
.formBooking textarea {
    resize: none;
    display: block;
    width: 100%;
    font-size: 15px;
    color: #fff;
    padding: 15px;
    background: #101010;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.formBooking textarea {
    height: 150px;
}

.formBooking select {
    width: 105%;
    padding: 17px;
}

.formBooking select option {
    color: #fff;
}

.formBooking input:focus,
.formBooking select:focus,
.formBooking textarea:focus {
    outline: none;
}

input[type=date]:invalid::-webkit-datetime-edit,
input[type=time]:invalid::-webkit-datetime-edit {
    color: gray;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0.6;
    filter: invert(0.8);
}

.formBooking button {
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 30px;
    overflow: hidden;
    color: #fff;
    background: #904d30;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    transition: all .4s;
    width: 100%;
    border: none;
}

.formBooking button:hover {
    background: #fff;
    color: black;
}

.openMoreSamples {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #999;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .4s;
}

.openMoreSamples:hover {
    color: #fff;
}

.openMoreSamples span {
    transition: all .4s;
    display: inline-block;
}

.textUnderMoreSamples {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
}

.samplesImage {
    width: 85px;
    height: 75px;
    transition: all .4s;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.samplesImage .deleteSamples {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    border-radius: 50%;
    background: #101010;
    padding: 0 9px 3px 9px;
    z-index: 10;
    transition: all .4s;
}

.samplesImage .deleteSamples:hover {
    color: tomato;
}

.samplesImage:hover {
    filter: brightness(0.7);
}

.samplesImage img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.fatherAddType2 {
    padding: 10px;
    width: 500px;
}

.yesNoButton {
    transition: all .4s;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

.yesForm {
    background: #904d30;
}

.noForm {
    background: #999;
}

.yesNoButton button:hover {
    opacity: 0.7;
}

.yesNoButton:active {
    scale: 0.9;
}

.loadSamplesFather {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loadSamplesFather .loadSamplesChild {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.loadSamplesFather .loadSamplesChild span {
    font-size: 40px;
    position: absolute;
    left: 40%;
    top: 30%;
    color: #09c167;
    border: 2px solid #09c167;
    border-radius: 50%;
    padding: 5px 10px;
}

.loadSamplesFather .loadSamplesChild img {
    width: 100%;
    height: 200px;
    transition: all .4s;
}

.loadSamplesFather .loadSamplesChild:hover img {
    filter: brightness(0.7);
}

.loadSamplesFather .loadSamplesChild p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.coverSideBarRespon {
    width: 22%;
}

.buttonCoverSideBarRespon {
    display: none;
}

@media (max-width:991px) {
    .coverSideBarRespon {
        width: 100%;
        position: fixed;
        top: 25%;
        left: 0;
    }

    .mainAdminSideBar {
        position: absolute;
        top: 0;
        left: 50%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 250px;
        z-index: 99999999;
        background: #101010;
        animation: appearBarsSide .4s ease forwards;
        overflow-y: auto;
    }

    @keyframes appearBarsSide {
        to {
            left: 50px;
        }
    }

    .buttonCoverSideBarRespon {
        display: block;
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 8px 10px 4px 10px;
        transition: all .4s;
    }

    .buttonCoverSideBarRespon:active {
        scale: 0.9;
    }

    .buttonCoverSideBarRespon svg {
        fill: #fff;
        width: 30px;
        height: 30px;
    }

    .mainUserPanelMain {
        padding: 120px 10px;
    }

    .contentMainBar {
        padding: 30px 0;
    }

    .inputPassword {
        width: 100%;
    }

    .changePhoneUnder input {
        width: 70%;
    }

    .coverButtonRightChat {
        width: 30%;
    }

    .chatRoom .inputChatPlace .coverButtonRightChat button {
        padding: 0;
    }
}