.mainBookingSmall {
    padding: 120px 20%;
    background: #101010;
    display: flex;
    justify-content: space-between;
}

.mainBookingSmall .leftDesc,
.mainBookingSmall .rightForm {
    width: 45%;
    text-align: start;
}

.mainBookingSmall .rightForm .insideRightForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainBookingSmall h5 {
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
}

.mainBookingSmall p {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75em;
    color: #999;
}

.mainBookingSmall .information {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.mainBookingSmall .information:last-child {
    margin-bottom: 0;
}

.mainBookingSmall .information svg {
    fill: #904d30;
}

.mainBookingSmall .information .svgCover {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 16px
}

.mainBookingSmall .information h6 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin: 0 0 3px 0;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 7px;
}

.mainBookingSmall .information a {
    text-decoration: none;
    color: inherit;
    transition: all .4s;
}

.mainBookingSmall .information a:hover {
    color: #fff;
}

.rightForm input,
.rightForm select,
.rightForm textarea {
    padding: 15px;
    background-color: #101010;
    box-shadow: none;
    display: block;
    width: 100%;
    line-height: 1.5em;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.rightForm textarea {
    height: 150px;
    resize: none;
}

.rightForm input:focus,
.rightForm select:focus,
.rightForm textarea:focus {
    outline: none;
}

input[type=date]:invalid::-webkit-datetime-edit,
input[type=time]:invalid::-webkit-datetime-edit {
    color: gray;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0.6;
    filter: invert(0.8);
}

.rightForm button {
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    background: #904d30;
    color: #fff;
    padding: 12px 24px;
    margin: 0;
    font-size: 15px;
    border: none;
    transition: all .4s;
    cursor: pointer;
}

.rightForm button:hover {
    background: #fff;
    color: #000;
}

.openMoreSamples {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #999;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .4s;
}

.openMoreSamples:hover {
    color: #fff;
}

.openMoreSamples span {
    transition: all .4s;
    display: inline-block;
}

.textUnderMoreSamples {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
}

.samplesImage {
    width: 85px;
    height: 75px;
    transition: all .4s;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.samplesImage .deleteSamples {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    border-radius: 50%;
    background: #101010;
    padding: 0 9px 3px 9px;
    z-index: 10;
    transition: all .4s;
}

.samplesImage .deleteSamples:hover {
    color: tomato;
}

.samplesImage:hover {
    filter: brightness(0.7);
}

.samplesImage img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.fatherAddType2 {
    padding: 10px;
    width: 500px;
}

.yesNoButton {
    transition: all .4s;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

.yesForm {
    background: #904d30;
}

.noForm {
    background: #999;
}

.yesNoButton button:hover {
    opacity: 0.7;
}

.yesNoButton:active {
    scale: 0.9;
}

.loadSamplesFather {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loadSamplesFather .loadSamplesChild {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.loadSamplesFather .loadSamplesChild span {
    font-size: 40px;
    position: absolute;
    left: 40%;
    top: 30%;
    color: #09c167;
    border: 2px solid #09c167;
    border-radius: 50%;
    padding: 5px 10px;
}

.loadSamplesFather .loadSamplesChild img {
    width: 100%;
    height: 200px;
    transition: all .4s;
}

.loadSamplesFather .loadSamplesChild:hover img {
    filter: brightness(0.7);
}

.loadSamplesFather .loadSamplesChild p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}