.mainBlogNews {
    padding: 120px 20% 50px 20%;
    background: #000000;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.mainBlogNews .mainLeft {
    width: 68%;
    height: auto;
}

.mainBlogNews .mainRight {
    width: 30%;
    height: 100%;
    position: sticky;
    top: 10%;
}

.mainBlogNews .mainLeft .news {
    width: 100%;
    height: auto;
}

.mainBlogNews .mainLeft .news .post {
    padding: 10px 0 75px 0;
    display: flex;
    flex-direction: column;
}

.news .newsImage {
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.news .newsImage .dateNews {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #904d30;
    border: 1px solid #904d30;
    color: #fff;
    padding: 10px 15px;
    font-family: "Barlow", sans-serif;
    text-align: center;
}

.news .newsImage .dateNews span {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
}

.news .newsImage .dateNews i {
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 0px;
}

.news .newsImage img {
    transition: all 1s;
}

.news .newsImage:hover img {
    scale: 1.1;
}

.post .upLink {
    text-decoration: none;
    color: #904d03;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    width: 50px;
}

.post .downLink {
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 15px 0;
}

.post .downLink a {
    text-decoration: none;
    color: #fff;
}

.post .postDescription {
    margin: 0 0 15px 0;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75em;
    color: #999;
}

.post .readMore {
    text-decoration: none;
    padding: 14px 30px;
    overflow: hidden;
    color: #fff;
    background: #904d30;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    transition: all .4s;
    width: 125px;
    text-wrap: nowrap;
}

.post .readMore:hover {
    background: #fff;
    color: black;
}

.recentPost,
.findPost {
    background: #101010;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.recentPost h6 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 24px;
    line-height: 1.5em;
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.recentPost .recentPostPosts {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
}

.recentPost .recentPostPosts:last-child {
    margin-bottom: 0;
}

.recentPostPosts a:first-child {
    width: 30%;
}

.recentPostPosts a:last-child {
    width: 68%;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    color: #999;
}

.recentPostPosts a:last-child:hover {
    color: #fff;
}

.findPost .findPostForm {
    background: #000;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.findPost .findPostForm input {
    background: transparent;
    border: none;
    line-height: 1.5em;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    width: 90%;
}

.findPost .findPostForm input:focus {
    outline: none;
}

.findPost .findPostForm button {
    background: transparent;
    border: none;
    width: 28px;
    height: 100%;
}

.findPost .findPostForm button svg {
    fill: #fff;
    width: 100%;
    height: 100%;
}