.mainAdminSideBar {
    width: 18%;
    padding: 0 15px;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
    transition: all .4s;
}

.mainAdminSideBarCollapse {
    padding: 0;
    border-right: none;
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: all .4s;
}

.mainAdminMainBar {
    width: 100%;
    height: 100%;
}

.contentMainBar {
    padding: 26px 24px;
    height: 100%;
}

.mainAdminMainBar .headerMainBar {
    display: flex;
    align-items: center;
    padding: 13px 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mainAdminMainBar .headerMainBar .sayHi {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
}

.mainAdminMainBar .headerMainBar .collapseBar {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.mainAdminMainBar .headerMainBar .collapseBar svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: all .4s;
}

.mainAdminMainBar .headerMainBar .collapseBar:hover svg {
    fill: #904d30;
}

.mainAdminMainBar .headerMainBar .collapseBar:active svg {
    scale: 0.9;
}

.mainAdminMainBar .avatarMainBar {
    border-radius: 50%;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
}

.mainAdminMainBar .avatarMainBar .profileShow,
.mainAdminMainBar .bellNoti .notiShow {
    cursor: auto;
    min-width: 352px;
    max-width: 100%;
    max-height: 50vh;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
    right: 0;
    padding: 15px;
    border-radius: 6px;
    z-index: 6;
    background: #101010;
    animation: appearDropdown .4s ease forwards;
    overflow: hidden;
}

.mainAdminMainBar .bellNoti .notiShow {
    padding: 0;
    overflow-y: auto;
}

@keyframes appearDropdown {
    from {
        top: 200%;
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
}

.mainAdminMainBar .bellNoti .notiShow .moreNotiButton {
    margin: 0;
    text-align: center;
    color: #999;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    padding: 5px;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all .4s;
}

.mainAdminMainBar .bellNoti .notiShow .moreNotiButton:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.bellNoti .notiShow .notiLight {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    transition: all .4s;
}

.bellNoti .notiShow .notiLightActive {
    transition: all .4s;
    background: rgba(144, 77, 48, 0.3);
}

.bellNoti .notiShow .notiLightActive:hover {
    background: rgba(144, 77, 48, 0.5) !important;
}

.bellNoti .notiShow .notiLight:active {
    scale: 0.9;
}

.bellNoti .notiShow .notiLight:hover {
    background: rgba(255, 255, 255, 0.1);
}

.bellNoti .notiShow .active:hover {
    background: rgba(144, 77, 48, 0.3);
}

.bellNoti .notiShow .notiLight .titleNoti {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    margin-bottom: 5px;
}

.bellNoti .notiShow .notiLight .titleNoti span:first-child {
    font-size: 16px;
    font-weight: bold;
    color: #904d30;
}

.bellNoti .notiShow .notiLight .titleNoti span:last-child {
    font-size: 14px;
    color: #999;
}

.bellNoti .notiShow .notiLight .messageNoti span {
    width: 100%;
    word-break: break-all;
    color: #cecece;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
}

.mainAdminMainBar .avatarMainBar .profileShow .profileHead,
.mainAdminMainBar .bellNoti .notiShow .notiHead {
    padding: 16px 20px 10px 20px;
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-size: 16px;
}

.mainAdminMainBar .bellNoti .notiShow .noNoti {
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: #999;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.mainAdminMainBar .avatarMainBar .profileShow .optionsProfile {
    margin-bottom: 5px;
    display: flex;
    padding: 14px 18px;
    font-family: "Oswald", sans-serif;
    border-radius: 10px;
    align-items: center;
    gap: 15px;
    transition: all .4s;
    cursor: pointer;
    color: #fff;
}

.profileShow .optionsProfile:active {
    scale: 0.9;
}

.profileShow .optionsProfile svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.profileShow .optionsProfile:hover {
    background: rgba(255, 255, 255, 0.1);
}

.profileShow .faceProfile {
    padding: 14px 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.profileShow .faceProfile .avatarInput {
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.profileShow .faceProfile .avatarInput img {
    transition: all .4s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileShow .faceProfile .avatarInput:hover img {
    opacity: 0.6;
    cursor: pointer;
}

.profileShow .faceProfile .avatarInput input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.profileShow .faceProfile svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: all .4s;
}

.profileShow .faceProfile p {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #fff;
}

.profileShow .faceProfile p:last-child {
    font-weight: 200;
}

.mainAdminMainBar .avatarMainBar .hoverImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.mainAdminMainBar .avatarMainBar:hover .hoverImg {
    outline: 2px solid #904d30;
}

.mainAdminMainBar .avatarMainBar .hoverSvg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: all .4s;
}

.mainAdminMainBar .avatarMainBar:hover .hoverSvg,
.profileShow .faceProfile .avatarInput:hover svg {
    fill: #904d30;
}

.mainAdminMainBar .bellNoti {
    position: relative;
    padding: 0 15px;
    cursor: pointer;
}

.mainAdminMainBar .bellNoti p {
    margin: 0;
    position: absolute;
    top: -8px;
    right: 5px;
    border-radius: 50%;
    background: tomato;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    padding: 0 5px 0 4px;
}

.mainAdminMainBar .bellNoti svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: all .4s;
}

.mainAdminMainBar .bellNoti:hover svg {
    fill: #904d30;
}

.findSomething {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    padding: 10px;
    height: 45px;
    width: 200px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.findSomething input {
    background: transparent;
    border: none;
    line-height: 1.5em;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    width: 100%;
}

input[type=date]:invalid::-webkit-datetime-edit,
input[type=time]:invalid::-webkit-datetime-edit {
    color: gray;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0.6;
    filter: invert(0.8);
}

input:focus,
textarea:focus {
    outline: none;
}

.inputPassword {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 15px;
    background: #101010;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.inputPassword input,
.inputPassword textarea {
    font-size: 15px;
    color: #fff;
    resize: none;
    font-family: "Barlow", sans-serif;
    background: none;
    border: none;
}

.inputPassword textarea {
    height: 100px;
}

.inputPassword button {
    border: none;
    background: none;
    height: 100%;
    cursor: pointer;
}

.inputPassword svg {
    width: 18px;
    height: 100%;
    fill: #fff;
    transition: all .4s;
}

.inputPassword button:hover svg {
    opacity: 0.7;
}

.inputPassword button:active svg {
    scale: 0.8;
}

.warningFind {
    text-align: center;
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: tomato;
}

.mainAdminSideBar .logoA {
    display: grid;
    place-items: center;
    padding: 16px 24px;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mainAdminSideBar .logoA a {
    width: 135px;
    height: auto;
    text-decoration: none;
}

.mainAdminSideBar .logoA a img {
    width: 100%;
    height: 50px;
}

.mainAdminSideBar .logoA a p {
    margin: 0;
    text-align: end;
    font-family: "Barlow", sans-serif;
    color: #904d30;
    text-transform: uppercase;
    text-wrap: nowrap;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 450;
}

.navBarA {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navBarA .captionA {
    display: block;
    padding: 14px 20px;
    text-transform: uppercase;
    position: relative;
    line-height: 1.66;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: "Oswald", sans-serif;
}

.optionsA {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    justify-content: space-between;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .4s;
    margin-bottom: 10px;
}

.optionsA:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navBarA .active,
.navBarA .active:hover {
    transition: all .4s;
    background: rgba(144, 77, 48, 0.7);
}

.optionsA .optionsLeftA {
    display: flex;
    align-items: center;
    gap: 15px;
}

.optionsA p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-wrap: nowrap;
    color: #fff;
}

.optionsA .optionsNotiA {
    border-radius: 50%;
    background: tomato;
    padding: 1px 6px;
    font-size: 13px;
}

.optionsA .optionsLeftA svg {
    width: 22px;
    height: 22px;
    fill: #fff;
}

.topBlobTaps {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.topBlobTaps .addNewBlog {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #101010;
    font-weight: 400;
    font-size: 17px;
    font-family: "Oswald", sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 135px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: all .4s;
    cursor: pointer;
    letter-spacing: 1px;

}

.topBlobTaps .addNewBlog:active {
    scale: 0.9;
}

.topBlobTaps .addNewBlog:hover {
    background: #904d30;
    border-color: #904d30;
}

.topBlobTaps .addNewBlog svg {
    width: 25px;
    height: 25px;
    fill: #fff;
}

.formNewBlogs {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formNewBlogs textarea,
.formNewBlogs input {
    font-family: "Oswald", sans-serif;
    resize: none;
    vertical-align: top;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    padding: 10px;
    height: 62px;
    width: 100%;
    border-radius: 6px;
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
}

.formNewBlogs .separateUp {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.formNewBlogs .separateUp .titlePlace {
    width: 100%;
}

.formNewBlogs .separateUp .thumbPlace {
    width: 230px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: grid;
    place-items: center;
    position: relative;
}

.formNewBlogs .separateUp .thumbPlace img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.formNewBlogs .separateUp .thumbPlace input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.formNewBlogs .separateUp .thumbPlace .appearAfterImg {
    opacity: 0;
    transition: all .4s;
}

.formNewBlogs .separateUp .thumbPlace:hover .appearAfterImg {
    opacity: 1;
}

.formNewBlogs .separateUp .thumbPlace:hover img {
    opacity: 0.7;
}

.formNewBlogs .separateUp .thumbPlace svg {
    fill: #fff;
    width: 65px;
    height: 65px;
    position: absolute;
}

.yesNoButton {
    transition: all .4s;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.yesForm {
    background: #904d30;
}

.noForm {
    background: #999;
}

.yesNoButton button:hover {
    opacity: 0.7;
}

.yesNoButton:active {
    scale: 0.9;
}

.jodit-container {
    height: 100%;
    font-family: "Oswald", sans-serif !important;
    border: none !important;
}

.jodit-container svg {
    fill: #fff !important;
}

.jodit-container .jodit-toolbar__box {
    background: #101010 !important;
    border-bottom: none !important;
}

.jodit-container .jodit-wysiwyg p {
    color: #fff !important;
}

.jodit_fullsize-box_true .jodit-workplace {
    height: 90% !important;
}

.jodit-workplace {
    word-break: break-all !important;
    background: #101010 !important;
}

.jodit-container .jodit-status-bar {
    background: #101010 !important;
    color: #fff !important;
}

.jodit-toolbar-button__button:hover,
.jodit-toolbar-button__trigger:hover {
    background: rgba(144, 77, 48, 0.7) !important;
}

.jodit-status-bar a.jodit-status-bar-link {
    color: #fff !important;
}

.blogAllWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.blogAllWrap .blogAllContent {
    width: 48%;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-top: 25px;
}

.blogAllContent .upperContent {
    display: flex;
    justify-content: space-between;
}

.blogAllContent .upperContent .blogAllContentTitle,
.blogAllContent .upperContent .blogAllContentSubTitle {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    padding: 10px;
    width: 95%;
    height: 55px;
    border-radius: 6px;
    position: relative;
    transition: all .4s;
    cursor: pointer;
    z-index: 5;
}

.wantChange:hover {
    background: #000 !important;
}

.blogAllContent .upperContent .blogAllContentSubTitle {
    margin-top: 15px !important;
    height: 80px !important;
}

.blogAllContent .upperContent .blogAllContentSubTitle textarea {
    font-size: 18px !important;
    color: #999 !important;
}

.blogAllContent .upperContent .upperContentImg {
    border-radius: 6px;
    width: 20%;
    height: 150px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.blogAllContent .upperContent .upperContentImg img {
    transition: all .4s;
    width: 100%;
    height: 100%;
}

.blogAllContent .downContent {
    position: relative;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    height: 200px;
    transition: all .4s;
    cursor: pointer;
}

.blogAllContent .upperContent .blogAllContentTitle input,
.blogAllContent .upperContent .blogAllContentSubTitle textarea,
.blogAllContent .downContent textarea {
    border: none;
    background: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    resize: none;
}

.blogAllContent .downContent textarea {
    font-size: 16px !important;
}

.blogAllContent .downContent svg {
    width: 45px;
    height: 45px;
}

.blogAllContent .upperContent .blogAllContentTitle svg {
    top: 25%;
    left: 50%;
}

.blogAllContent .upperContent .blogAllContentSubTitle svg {
    left: 50%;
}

.svgAppear {
    position: absolute;
    fill: #fff;
    width: 25px;
    height: 25px;
    top: 37%;
    left: 47%;
    opacity: 0;
    transition: all .4s;
}

.blogAllContent .upperContent .blogAllContentTitle:hover,
.blogAllContent .upperContent .blogAllContentSubTitle:hover,
.blogAllContent .downContent:hover,
.sessionUnderAdd:hover,
.blogAllContent .chooseCateSample:hover {
    background: rgba(255, 255, 255, 0.1);
}

.blogAllContent .upperContent .upperContentImg:hover img {
    opacity: 0.5;
}

.blogAllContent .upperContent .blogAllContentTitle:hover svg,
.blogAllContent .upperContent .blogAllContentSubTitle:hover svg,
.blogAllContent .upperContent .upperContentImg:hover svg,
.blogAllContent .downContent:hover svg,
.sessionUnderAdd:hover svg,
.blogAllContent .chooseCateSample:hover svg {
    opacity: 1;
}

.blogAllContent .botContent .textDate {
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: #999;
    text-align: end;
    font-weight: 400;
    font-size: 15px;
}

.blogAllContent .botContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


.blogAllContent .botContent button {
    padding: 6px 14px;
    font-family: "Oswald", sans-serif;
    background: tomato;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s;
}

.blogAllContent .botContent button:active {
    scale: 0.9;
}

.blogAllContent .botContent button:hover {
    opacity: 0.7;
}

.overlayThis {
    background: #000;
    margin: 0;
    padding: 0 10px;
    border-radius: 6px;
    width: 100%;
}

.overlayThis .accountInput {
    font-size: 18px;
    border: none;
    padding: 0;
    height: 55px;
}

.accountTable {
    width: 100%;
    margin-top: 15px;
    font-family: "Oswald", sans-serif;
    color: #fff;
    border-collapse: collapse;
}

.accountTable thead {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    background: #000;
}

.accountTable tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.accountTable thead tr th,
.accountTable tbody tr td {
    padding: 10px 15px;
}

.accountTable thead tr th .flexInThead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    transition: all .4s;
    letter-spacing: 1px;
    cursor: pointer;
}

.accountTable thead tr th .flexInThead:hover {
    color: #904d30;
}

.accountTable thead tr th .flexInThead .sortInThead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accountTable thead tr th .flexInThead .sortInThead span {
    font-size: 11px;
    color: #999;
    text-align: center;
}

.accountTable thead tr th .flexInThead .sortInThead span:last-child {
    scale: -1;
}

.accountTable thead tr th .flexInThead .sortInThead span:first-child {
    margin-left: 2px;
}

.accountTable td {
    font-weight: 400;
}

.accountTable td .buttonFlexInTd {
    display: flex;
    align-items: center;
    gap: 10px;
}

.accountTable td .buttonFlexInTd button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    padding: 10px;
    transition: all .4s;
    cursor: pointer;
}

.accountTable td .buttonFlexInTd button:active {
    scale: 0.8;
}

.accountTable td .buttonFlexInTd button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.accountTable td .buttonFlexInTd button svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.accountTable .coverInTd {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

.accountTable .coverInTd .tableUserImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.sampleDownFlex {
    display: flex;
    align-items: center;
    gap: 25px;
}

.sampleDownFlex input {
    font-size: 18px;
    height: 62px;
}

.sampleDownFlex p {
    width: 230px;
}

.chooseCateSample {
    width: 100%;
    min-height: 50px;
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.autoCompleteChooseCate {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    top: 100%;
    width: 100%;
    height: 250px;
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    left: 0;
    overflow: auto;
}

.autoCompleteChooseCate .autoCompleteResult {
    padding: 15px;
    color: #fff;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.autoCompleteChooseCate .autoCompleteResult:hover {
    background: rgba(144, 77, 48, 0.7);
}

.chooseCateSample .sonChooseCateSample {
    display: flex;
    gap: 10px;
    width: 95%;
}

.squareChoose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    font-family: "Oswald", sans-serif;
    transition: all .4s;
    padding: 5px 7px;
    height: 40px;
    gap: 5px;
}

.plusSessionChooseButton:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.squareChoose button {
    background: none;
    border: none;
    color: #999;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all .4s;
}

.squareChoose button:hover {
    color: #fff;
}

.squareChoose p {
    margin: 0;
    color: #fff;
    text-wrap: nowrap;
    letter-spacing: 1px;
    font-size: 18px;
}

.chooseCateSample .sonChooseCateSample .findChooseFather {
    height: 40px;
}

.chooseCateSample .sonChooseCateSample input {
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0;
    font-size: 18px;
}

.chooseCateSample span {
    cursor: pointer;
    width: 5%;
    color: #999;
    text-align: center;
    font-size: 18px;
    transition: all .4s;
}

.chooseCateSample span:hover {
    color: #fff;
}

.plusSession {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    border: none;
    border-radius: 6px;
    width: 80px;
    color: #fff;
    background: #904d30;
    cursor: pointer;
    padding: 5px 0;
    font-weight: 400;
    font-size: 20px;
    transition: all .4s;
}

.plusSession:hover {
    opacity: 0.7;
}

.plusSession:active {
    scale: 0.9;
}

.sessionUnderAdd {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 6px;
    background: #000;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    margin-top: 15px;
}

.starRate {
    letter-spacing: 1px;
    color: orange;
    font-weight: 400;
    font-size: 20px;
}

.coverGallery {
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coverGalleryVideo {
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding: 15px;
}

.coverGalleryVideo .topGalleryVideo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    width: 100%;
}

.coverGalleryVideo input {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 10px;
    height: auto;
    width: 92%;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.coverGalleryVideo .topGalleryVideo button {
    background: #904d30;
    border-radius: 6px;
    border: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all .4s;
}

.coverGalleryVideo .topGalleryVideo button:hover {
    opacity: 0.7;
}

.coverGalleryVideo .topGalleryVideo button:active,
.videoElement .buttonVideoElement button:active {
    scale: 0.9;
}

.coverGalleryVideo .videoShowUp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.coverGalleryVideo .videoShowUp .videoElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.coverGalleryVideo .videoShowUp .videoElement p {
    text-wrap: nowrap;
    width: 5%;
}

.coverGalleryVideo .videoShowUp .videoElement input {
    width: 85%;
}

.videoElement .buttonVideoElement {
    display: flex;
    align-items: center;
    width: 10%;
    gap: 5px;
}

.videoElement .buttonVideoElement button {
    background: none;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    cursor: pointer;
    transition: all .4s;
}

.videoElement .buttonVideoElement .specialNow {
    padding: 10px 5px 10px 10px;
}

.videoElement .buttonVideoElement button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.videoElement .buttonVideoElement button svg {
    fill: #fff;
    width: 100%;
    height: 100%;
}

.coverGallery .inputImageXY {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    width: 23%;
    height: 250px;
    overflow: hidden;
    position: relative;
    transition: all .4s;
}

.coverGallery .inputImageXY .haveImage {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
}

.coverGallery .inputImageXY .haveImage .trashImage {
    opacity: 0;
    transition: all .4s;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 11px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

.coverGallery .inputImageXY .haveImage:hover .trashImage {
    opacity: 1;
}

.coverGallery .inputImageXY .haveImage .trashImage:hover svg {
    fill: tomato;
}

.coverGallery .inputImageXY .haveImage .trashImage svg {
    transition: all .4s;
    fill: #fff;
    width: 100%;
    height: 100%;
}

.coverGallery .inputImageXY .haventImage {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
}

.coverGallery .inputImageXY img {
    width: 100%;
    height: 100%;
}

.coverGallery .inputImageXY:has(.haventImage:hover) {
    border-color: #fff;
}

.coverGallery .inputImageXY svg.wantAddSvg {
    fill: #fff;
    width: 40%;
    height: 40%;
}

.coverGallery .inputImageXY svg.wantEditSvg {
    opacity: 0;
    transition: all .4s;
    position: absolute;
    fill: #fff;
    top: 25%;
    left: 30%;
    width: 40%;
    height: 40%;
}

.coverGallery .inputImageXY .haveImage:hover img {
    filter: brightness(0.5);
}

.coverGallery .inputImageXY .haveImage:hover svg.wantEditSvg {
    opacity: 1;
}

.coverGallery .inputImageXY p,
.coverGalleryVideo .videoShowUp .videoElement p {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.coverGallery .inputImageXY input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.coverChatAll {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    display: flex;
    margin-top: 15px;
    height: 80vh;
}

.chatSide {
    width: 20%;
    padding: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

.chatSideChild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: all .4s;
}

.chatSideChild button.deleteChat {
    position: absolute;
    top: 33%;
    right: 15%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
}

.chatSideChild:hover button.deleteChat {
    opacity: 1;
    visibility: visible;
}

.chatSideChild button.deleteChat:hover {
    background: rgba(255, 255, 255, 0.2);
}

.chatSideChild button.deleteChat svg {
    padding: 8px;
    fill: #fff;
    width: 100%;
    height: 100%;
}

.chatSideChild:hover {
    background: rgba(255, 255, 255, 0.1);
}

.chatSideChildActive {
    background: rgba(144, 77, 48, 0.5);
}

.chatSideChildActive:hover {
    background: rgba(144, 77, 48, 0.7);
}

.chatSideChild .chatSideChildLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.chatSideChild .chatSideChildLeft .avatarCoverChild {
    width: 65px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
}

.chatSideChild .chatSideChildLeft svg {
    padding: 8px;
    fill: #fff;
    width: 100%;
    height: 100%;
}

.chatSideChild .chatSideChildLeft .nameChatSide {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
}

.chatSideChild .chatSideChildLeft .contentChatSide {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    letter-spacing: 1px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-wrap: nowrap;
}

.chatSideChild .chatSideChildRight {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chatSideChild .chatSideChildRight span {
    color: #fff;
    background: tomato;
    border-radius: 50%;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 3px 1px 4px;
    font-size: 14px;
}

.chatRoom {
    padding: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatRoom .chatRoomEmpty {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    font-size: 22px;
    text-align: center;
}

.chatRoom .chatPlace {
    padding: 0 10px 0 0;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.chatRoom .chatPlace::-webkit-scrollbar,
.chatSide::-webkit-scrollbar,
.notiShow::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.chatRoom .chatPlace::-webkit-scrollbar-thumb,
.chatSide::-webkit-scrollbar-thumb,
.notiShow::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.chatRoom .inputChatPlace {
    width: 100%;
    height: 10%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chatRoom .inputChatPlace .fatherInput {
    height: 100%;
    width: 88%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat {
    width: 90px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat img {
    border-radius: 6px;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat button.closeImageChat {
    position: absolute;
    top: -10px;
    right: -10px;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    background: #999;
    border: none;
    border-radius: 50%;
    padding: 4px 7px 6px 8px;
    cursor: pointer;
    transition: all .4s;
}

.chatRoom .inputChatPlace .fatherInput .haveImageChat button.closeImageChat:hover {
    background: #904d30;
    color: #fff;
}

.chatRoom .inputChatPlace input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    word-break: break-all;
}

.rotateLoading {
    margin-top: 15px;
    color: #fff;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate360deg 2s linear infinite;
}

@keyframes rotate360deg {
    to {
        rotate: 360deg;
    }
}

.coverButtonRightChat {
    width: 15%;
    height: 100%;
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatRoom .inputChatPlace .emojiButton .emojiPickerShow {
    position: absolute;
    bottom: 125%;
    right: 100%;
}

.chatRoom .inputChatPlace .coverButtonRightChat button {
    position: relative;
    font-size: 20px;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all .4s;
    padding: 10px;
}

.chatRoom .inputChatPlace .coverButtonRightChat button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.chatRoom .inputChatPlace .coverButtonRightChat button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.chatPlace .abbortTime {
    margin: 0;
    color: #999;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    font-size: 15px;
}

.chatPlace span {
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    position: relative;
}

.chatPlace .leftSideChat {
    display: flex;
    justify-content: flex-start;
}

.chatPlace .leftSideChat span {
    background: rgba(255, 255, 255, 0.1);
}

.chatPlace .rightSideChat {
    display: flex;
    justify-content: flex-end;
}

.chatPlace .rightSideChat img,
.chatPlace .leftSideChat img {
    width: 250px;
    height: 250px;
    border-radius: 6px;
}

.chatPlace .rightSideChat span p,
.chatPlace .leftSideChat span p {
    margin: 0;
    position: absolute;
    font-family: "Oswald", sans-serif;
    color: #999;
    font-weight: 400;
    letter-spacing: 1px;
    top: 20%;
    font-size: 15px;
    right: 110%;
    opacity: 0;
    transition: all .4s;
    text-wrap: nowrap;
}

.chatPlace .leftSideChat span p {
    left: 110%;
}

.chatPlace .rightSideChat span:hover p,
.chatPlace .leftSideChat span:hover p {
    opacity: 1;
}

.chatPlace .rightSideChat span {
    background: rgba(144, 77, 48, 0.5);
}